<div style="display: flex;justify-content: center;align-items: center;padding-top: 50px;color: black;">
    <br>
    <h1>MyShop</h1>
    <p>Beanies, facemasks & gloves</p>
</div>

<div class="row" style="
display: flex;
justify-content: center;
align-items: center;
padding-top: 50px;
padding-bottom: 50px;
padding-left:400px;
padding-right:400px;">
    <a href="/beanies" style="font-size: 24px;" class="button column">BEANIES</a>
    <a href="/facemasks" style="font-size: 24px;" class="button column">FACEMASKS</a>
    <a href="/gloves" style="font-size: 24px;" class="button column">GLOVES</a>      
</div>
