<div style="display:flex;justify-content:center;align-items:center;padding-top:50px;color:black;">
    <br>
    <h1>MyShop</h1>
    <p>Beanies, facemasks & gloves</p>
</div>

<div class="row" style="display:flex;justify-content:center;align-items:center;padding-top:50px;">
    <a href="/beanies" style="font-size : 24px" class="button button-clear column">BEANIES</a>
    <a href="/masks" style="font-size : 24px" class="button button-clear column">FACEMASKS</a>
    <a href="/gloves" style="font-size : 24px" class="button button-clear column">GLOVES</a>      
</div>
